<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    
<head>
    
    <title>Home Page</title>

</head>


<body>
    <h3>Choose a Project</h3>

    <div class="topbuttons">
    
    <button class = "project1">Human Resources</button>
    <button class="project2" onclick="window.location='sign-in/'">Student Affairs</button>
    <button class = "project3">Higher Studies</button>
    <button class = "project4">Laboratory Tacking</button>
    </div>


    
</body>
</html>